.headshot{
    margin-top: -300px;
    margin-left: 20px;
}
.headshot-section{
    height: 420px;
}
@media only screen and (max-width:688px) {
    .headshot{
        position: relative;
        margin-top: -100px;
        
        
    }
    .headshot-section{
        height: 230px;
    }
}