.bg-shadow{
    box-shadow: -20px -20px 45px #edeff1, 20px 20px 45px #cacfd8;
}
.socialLinks{
    color: gray;
    box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
    border-radius: 70px;
    padding: 5px;
    transition: .5s;
    margin-left: 50px;
    margin-right: 50px;
   
}

.socialLinks:hover{
    box-shadow: -20px -20px 45px #edeff1, 20px 20px 45px #cacfd8;
    transform: scale(1.2);
    color: #82b440;
}

.socialLinks-div{
    /* box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8; */
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.skill-text{
    font-weight: 600;
    font-size: 30px;
    color: gray;
    margin-top: 150px;
    text-shadow: 1px 1px rgb(14, 1, 1);
}

.skill-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 66px;
    color: gray;
    margin-left: 130px;
    
}
.skill-icons:hover{
    color: #82b440;
    
}
.skill-div:hover .individual-skill-text{
    display: block;
}

.individual-skill-text{
    font-size: 12px;
    display: none;
    /* margin-left: -140px; */
}
.individual-skill{
    display: flex;
}

.skill-div{
    box-shadow: 5px 5px 8px #edeff1, -5px -5px 10px #cacfd8;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.form-input{
    border: none;
    background-color: transparent;
    box-shadow: 5px 5px 8px #edeff1, -5px -5px 10px #cacfd8;
    transition: .5s;
}
.form-input:hover{
    box-shadow: -20px -20px 45px #edeff1, 20px 20px 45px #cacfd8;
    transform: scale(1.05);
}
.form-input:focus{
    background-color: transparent;
    box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
    border: 1px solid gray;
    color: gray;
    font-weight: 600;
}
.form input::placeholder{
    color: gray;
    font-weight: 600;
}

.contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}
.contact-me-text{
    color: gray;
    margin-top: 200px;
}

@media only screen and (max-width:688px) {
    .skill-icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: -10px;
        
        
    }
    .contactMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -95px;
    }
    .contactMe img{
        
    }
    .contact-me-text{
        color: gray;
        margin-top: 100px;
    }
    .form{
        margin-top: -100px;
    }
    .individual-skill-text{
        font-size: 12px;
        display: none;
        margin-left: 0px;
    }
}